Node-READ/Dashboard 178271836.txt
[{"id":"3f75d63a.d3ff3a","type":"ui_gauge","z":"3d664c89.ecf544","name":"","group":"b54e0f2a.3e718","order":0,"width":0,"height":0,"gtype":"gage","title":"L Upper Die Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"115","seg2":"135","x":367.2332420349121,"y":223.9332972764969,"wires":[]},{"id":"722a2621.dc0968","type":"ui_gauge","z":"3d664c89.ecf544","name":"","group":"720bd53f.2d654c","order":0,"width":0,"height":0,"gtype":"gage","title":"L Lower Die Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"115","seg2":"135","x":612.2332420349121,"y":223.93327343463898,"wires":[]},{"id":"37c1220c.32a65e","type":"ui_gauge","z":"3d664c89.ecf544","name":"","group":"68e386bf.340928","order":0,"width":0,"height":0,"gtype":"gage","title":"L Singane Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"115","seg2":"135","x":863.2331047058105,"y":222.93328487873077,"wires":[]},{"id":"6cbddd5d.69b6e4","type":"ui_gauge","z":"3d664c89.ecf544","name":"","group":"b54e0f2a.3e718","order":0,"width":0,"height":0,"gtype":"gage","title":"L charging position","label":"mm","format":"{{value/10.0}}","min":0,"max":"200","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"115","seg2":"135","x":347.2334327697754,"y":253.93349421024323,"wires":[]},{"id":"8d2eda76.b01198","type":"ui_gauge","z":"3d664c89.ecf544","name":"","group":"720bd53f.2d654c","order":0,"width":0,"height":0,"gtype":"gage","title":"L suck back position","label":"mm","format":"{{value/10.0}}","min":0,"max":"200","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"115","seg2":"135","x":602.2334403991699,"y":253.93346989154816,"wires":[]},{"id":"40620bc2.9207c4","type":"ui_gauge","z":"3d664c89.ecf544","name":"","group":"68e386bf.340928","order":0,"width":0,"height":0,"gtype":"gage","title":"L cushion","label":"mm","format":"{{value/10.0}}","min":0,"max":"2","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"","seg2":"2","x":812.2333030700684,"y":252.93344509601593,"wires":[]},{"id":"75514b7b.99e564","type":"split","z":"3d664c89.ecf544","name":"","splt":"|","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":true,"addname":"","x":55,"y":78.99999725818634,"wires":[["94560b6e.fc2838"]]},{"id":"94560b6e.fc2838","type":"switch","z":"3d664c89.ecf544","name":"","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"7","vt":"str"},{"t":"eq","v":"8","vt":"str"},{"t":"eq","v":"9","vt":"str"},{"t":"eq","v":"10","vt":"str"},{"t":"eq","v":"11","vt":"str"},{"t":"eq","v":"12","vt":"str"},{"t":"eq","v":"13","vt":"str"},{"t":"eq","v":"14","vt":"str"},{"t":"eq","v":"15","vt":"str"},{"t":"eq","v":"16","vt":"str"},{"t":"eq","v":"17","vt":"str"},{"t":"eq","v":"18","vt":"str"},{"t":"eq","v":"19","vt":"str"},{"t":"eq","v":"20","vt":"str"},{"t":"eq","v":"21","vt":"str"},{"t":"eq","v":"22","vt":"str"},{"t":"eq","v":"23","vt":"str"},{"t":"eq","v":"24","vt":"str"},{"t":"eq","v":"25","vt":"str"},{"t":"eq","v":"26","vt":"str"},{"t":"eq","v":"27","vt":"str"},{"t":"eq","v":"28","vt":"str"},{"t":"eq","v":"29","vt":"str"},{"t":"eq","v":"30","vt":"str"},{"t":"eq","v":"31","vt":"str"},{"t":"eq","v":"32","vt":"str"},{"t":"eq","v":"33","vt":"str"},{"t":"eq","v":"34","vt":"str"},{"t":"eq","v":"35","vt":"str"},{"t":"eq","v":"36","vt":"str"},{"t":"eq","v":"37","vt":"str"},{"t":"eq","v":"38","vt":"str"},{"t":"eq","v":"39","vt":"str"},{"t":"eq","v":"40","vt":"str"},{"t":"eq","v":"41","vt":"str"},{"t":"eq","v":"42","vt":"str"},{"t":"eq","v":"43","vt":"str"},{"t":"eq","v":"44","vt":"str"},{"t":"eq","v":"45","vt":"str"}],"checkall":"true","outputs":45,"x":177.26676177978516,"y":401.2663823366165,"wires":[["264c3737.eb6eb8"],["e56d3b3d.4c40b8"],["792a3730.397038"],["3f75d63a.d3ff3a"],["722a2621.dc0968"],["37c1220c.32a65e"],["19d55807.486138"],["21a9f1f5.01deae"],["a74f3e47.504cd"],["6cbddd5d.69b6e4"],["8d2eda76.b01198"],["40620bc2.9207c4"],["c248f079.6a137"],["d49a6db3.1edc9"],["ee2fc672.a1d538"],["bb5a1404.2d1ca8"],["4affeb4.8d09714"],["eb7a378d.8617a8"],["db2ab419.a341b8"],["54f2f285.d2567c"],["7807d1eb.b7e1e"],["2d3d85de.3ac2aa"],["24f86794.7e9698"],["f4021d4c.50d9d"],["6a324a50.8d5c94"],["4b0927ce.377ec8"],["d7018d2c.ae5b9"],["b23c77.26b6d388"],["557efa09.05f114"],["542ad67.0736d28"],["694804b0.9a27ec"],["19c68539.e617bb"],["d1e6f9cd.a053c8"],["3ac138ac.2dd528"],["ad241218.241ee"],["5c2d1780.b9eb18"],["dd14def7.fb446"],["b3c0d49d.55d678"],["787a2788.0de6f8"],["28f98af6.8392a6"],["87bae2fc.281c3"],["5a12d38c.dbd0dc"],["c96bf0f9.aa2cf"],["2a511769.f62c38"],["e0600e01.439ca"]]},{"id":"c248f079.6a137","type":"ui_gauge","z":"3d664c89.ecf544","name":"","group":"b54e0f2a.3e718","order":0,"width":0,"height":0,"gtype":"gage","title":"L clamp pressure","label":"bar","format":"{{value/10.0}}","min":0,"max":"14","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"4","seg2":"10","x":347.2666816711426,"y":284.26665794849396,"wires":[]},{"id":"d49a6db3.1edc9","type":"ui_gauge","z":"3d664c89.ecf544","name":"","group":"720bd53f.2d654c","order":0,"width":0,"height":0,"gtype":"gage","title":"L charging time","label":"Second","format":"{{value/10.0}}","min":0,"max":"50","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"0","seg2":"50","x":582.2666435241699,"y":284.2667065858841,"wires":[]},{"id":"ee2fc672.a1d538","type":"ui_gauge","z":"3d664c89.ecf544","name":"","group":"68e386bf.340928","order":0,"width":0,"height":0,"gtype":"gage","title":"L injection time","label":"Second","format":"{{value/10.0}}","min":0,"max":"50","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"","seg2":"50","x":832.2667274475098,"y":283.2667008638382,"wires":[]},{"id":"19d55807.486138","type":"ui_gauge","z":"3d664c89.ecf544","name":"","group":"f6d8be29.5f3f6","order":0,"width":0,"height":0,"gtype":"gage","title":"R Upper Die Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"115","seg2":"135","x":366.0792770385742,"y":493.15831673145294,"wires":[]},{"id":"21a9f1f5.01deae","type":"ui_gauge","z":"3d664c89.ecf544","name":"","group":"319c4603.89903a","order":0,"width":0,"height":0,"gtype":"gage","title":"R Lower Die Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"115","seg2":"135","x":611.0792770385742,"y":493.15829288959503,"wires":[]},{"id":"a74f3e47.504cd","type":"ui_gauge","z":"3d664c89.ecf544","name":"","group":"2a8b5609.3dbf3a","order":0,"width":0,"height":0,"gtype":"gage","title":"R Singane Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"115","seg2":"135","x":862.0791397094727,"y":492.15830433368683,"wires":[]},{"id":"b23c77.26b6d388","type":"ui_gauge","z":"3d664c89.ecf544","name":"","group":"f6d8be29.5f3f6","order":0,"width":0,"height":0,"gtype":"gage","title":"R charging position","label":"mm","format":"{{value/10.0}}","min":0,"max":"200","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"115","seg2":"135","x":346.0794677734375,"y":523.1585136651993,"wires":[]},{"id":"557efa09.05f114","type":"ui_gauge","z":"3d664c89.ecf544","name":"","group":"319c4603.89903a","order":0,"width":0,"height":0,"gtype":"gage","title":"R suck back position","label":"mm","format":"{{value/10.0}}","min":0,"max":"200","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"115","seg2":"135","x":601.079475402832,"y":523.1584893465042,"wires":[]},{"id":"542ad67.0736d28","type":"ui_gauge","z":"3d664c89.ecf544","name":"","group":"2a8b5609.3dbf3a","order":0,"width":0,"height":0,"gtype":"gage","title":"R cushion","label":"mm","format":"{{value/10.0}}","min":0,"max":"2","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"","seg2":"2","x":811.0793380737305,"y":522.158464550972,"wires":[]},{"id":"694804b0.9a27ec","type":"ui_gauge","z":"3d664c89.ecf544","name":"","group":"f6d8be29.5f3f6","order":0,"width":0,"height":0,"gtype":"gage","title":"R clamp pressure","label":"bar","format":"{{value/10.0}}","min":0,"max":"14","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"4","seg2":"10","x":346.1127166748047,"y":553.49167740345,"wires":[]},{"id":"19c68539.e617bb","type":"ui_gauge","z":"3d664c89.ecf544","name":"","group":"319c4603.89903a","order":0,"width":0,"height":0,"gtype":"gage","title":"R charging time","label":"Second","format":"{{value/10.0}}","min":0,"max":"50","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"0","seg2":"50","x":581.112678527832,"y":553.4917260408401,"wires":[]},{"id":"d1e6f9cd.a053c8","type":"ui_gauge","z":"3d664c89.ecf544","name":"","group":"2a8b5609.3dbf3a","order":0,"width":0,"height":0,"gtype":"gage","title":"R injection time","label":"Second","format":"{{value/10.0}}","min":0,"max":"50","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"","seg2":"50","x":831.1127624511719,"y":552.4917203187943,"wires":[]},{"id":"bb5a1404.2d1ca8","type":"ui_numeric","z":"3d664c89.ecf544","name":"","label":"L injection pressure 1","group":"b54e0f2a.3e718","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":356.7667236328125,"y":314.3520518541336,"wires":[[]]},{"id":"db2ab419.a341b8","type":"ui_numeric","z":"3d664c89.ecf544","name":"","label":"L injection speed 1","group":"b54e0f2a.3e718","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":347.0793113708496,"y":345.1583205461502,"wires":[[]]},{"id":"2d3d85de.3ac2aa","type":"ui_numeric","z":"3d664c89.ecf544","name":"","label":"L injection time 1","group":"b54e0f2a.3e718","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":347.0793113708496,"y":375.1583205461502,"wires":[[]]},{"id":"6a324a50.8d5c94","type":"ui_numeric","z":"3d664c89.ecf544","name":"","label":"L cure time","group":"b54e0f2a.3e718","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":327.0793113708496,"y":405.1583205461502,"wires":[[]]},{"id":"4affeb4.8d09714","type":"ui_numeric","z":"3d664c89.ecf544","name":"","label":"L injection pressure 2","group":"720bd53f.2d654c","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":602.0792121887207,"y":314.1583262681961,"wires":[[]]},{"id":"54f2f285.d2567c","type":"ui_numeric","z":"3d664c89.ecf544","name":"","label":"L injection speed 2","group":"720bd53f.2d654c","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":592.3917999267578,"y":344.9645949602127,"wires":[[]]},{"id":"24f86794.7e9698","type":"ui_numeric","z":"3d664c89.ecf544","name":"","label":"L injection time 2","group":"720bd53f.2d654c","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":592.3917999267578,"y":374.9645949602127,"wires":[[]]},{"id":"4b0927ce.377ec8","type":"ui_numeric","z":"3d664c89.ecf544","name":"","label":"L cycle time","group":"720bd53f.2d654c","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":572.3917999267578,"y":404.9645949602127,"wires":[[]]},{"id":"eb7a378d.8617a8","type":"ui_numeric","z":"3d664c89.ecf544","name":"","label":"L injection pressure 3","group":"68e386bf.340928","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":852.0793571472168,"y":314.1583033800125,"wires":[[]]},{"id":"7807d1eb.b7e1e","type":"ui_numeric","z":"3d664c89.ecf544","name":"","label":"L injection speed 3","group":"68e386bf.340928","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":842.3919448852539,"y":344.9645720720291,"wires":[[]]},{"id":"f4021d4c.50d9d","type":"ui_numeric","z":"3d664c89.ecf544","name":"","label":"L injection time 3","group":"68e386bf.340928","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":842.3919448852539,"y":374.9645720720291,"wires":[[]]},{"id":"d7018d2c.ae5b9","type":"ui_numeric","z":"3d664c89.ecf544","name":"","label":"L shot no.","group":"68e386bf.340928","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"10","step":1,"x":812.3919448852539,"y":404.9645720720291,"wires":[[]]},{"id":"3ac138ac.2dd528","type":"ui_numeric","z":"3d664c89.ecf544","name":"","label":"L injection pressure 1","group":"f6d8be29.5f3f6","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":356.20004653930664,"y":584.2666531801224,"wires":[[]]},{"id":"dd14def7.fb446","type":"ui_numeric","z":"3d664c89.ecf544","name":"","label":"L injection speed 1","group":"f6d8be29.5f3f6","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":346.51263427734375,"y":615.072921872139,"wires":[[]]},{"id":"28f98af6.8392a6","type":"ui_numeric","z":"3d664c89.ecf544","name":"","label":"L injection time 1","group":"f6d8be29.5f3f6","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":346.51263427734375,"y":645.072921872139,"wires":[[]]},{"id":"c96bf0f9.aa2cf","type":"ui_numeric","z":"3d664c89.ecf544","name":"","label":"L cure time","group":"f6d8be29.5f3f6","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":326.51263427734375,"y":675.072921872139,"wires":[[]]},{"id":"ad241218.241ee","type":"ui_numeric","z":"3d664c89.ecf544","name":"","label":"L injection pressure 2","group":"319c4603.89903a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":600.5125694274902,"y":584.0728999376297,"wires":[[]]},{"id":"b3c0d49d.55d678","type":"ui_numeric","z":"3d664c89.ecf544","name":"","label":"L injection speed 2","group":"319c4603.89903a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":590.8251571655273,"y":614.8791686296463,"wires":[[]]},{"id":"87bae2fc.281c3","type":"ui_numeric","z":"3d664c89.ecf544","name":"","label":"L injection time 2","group":"319c4603.89903a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":590.8251571655273,"y":644.8791686296463,"wires":[[]]},{"id":"2a511769.f62c38","type":"ui_numeric","z":"3d664c89.ecf544","name":"","label":"L cycle time","group":"319c4603.89903a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":570.8251571655273,"y":674.8791686296463,"wires":[[]]},{"id":"5c2d1780.b9eb18","type":"ui_numeric","z":"3d664c89.ecf544","name":"","label":"L injection pressure 3","group":"2a8b5609.3dbf3a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":851.5126991271973,"y":583.0728446245193,"wires":[[]]},{"id":"787a2788.0de6f8","type":"ui_numeric","z":"3d664c89.ecf544","name":"","label":"L injection speed 3","group":"2a8b5609.3dbf3a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":841.8252868652344,"y":613.879113316536,"wires":[[]]},{"id":"5a12d38c.dbd0dc","type":"ui_numeric","z":"3d664c89.ecf544","name":"","label":"L injection time 3","group":"2a8b5609.3dbf3a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":841.8252868652344,"y":643.879113316536,"wires":[[]]},{"id":"e0600e01.439ca","type":"ui_numeric","z":"3d664c89.ecf544","name":"","label":"L shot no.","group":"2a8b5609.3dbf3a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"10","step":1,"x":811.8252868652344,"y":673.879113316536,"wires":[[]]},{"id":"264c3737.eb6eb8","type":"ui_gauge","z":"3d664c89.ecf544","name":"","group":"b54e0f2a.3e718","order":0,"width":0,"height":0,"gtype":"gage","title":"Oil Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"70","colors":["#00ff00","#ffff00","#ff0000"],"seg1":"55","seg2":"60","x":338.2000846862793,"y":81.26663792133331,"wires":[]},{"id":"e56d3b3d.4c40b8","type":"ui_gauge","z":"3d664c89.ecf544","name":"","group":"720bd53f.2d654c","order":0,"width":0,"height":0,"gtype":"gage","title":"Nozzle Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"70","colors":["#00ff00","#ffff00","#ff0000"],"seg1":"55","seg2":"60","x":358.2001037597656,"y":111.26664459705353,"wires":[]},{"id":"792a3730.397038","type":"ui_gauge","z":"3d664c89.ecf544","name":"","group":"68e386bf.340928","order":0,"width":0,"height":0,"gtype":"gage","title":"Barrel Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"70","colors":["#00ff00","#ffff00","#ff0000"],"seg1":"55","seg2":"60","x":348.2001037597656,"y":141.26664555072784,"wires":[]},{"id":"b54e0f2a.3e718","type":"ui_group","z":"","name":"IM020[1]","tab":"ec5e42e7.f7af1","disp":false,"width":"6"},{"id":"720bd53f.2d654c","type":"ui_group","z":"","name":"IM020[2]","tab":"ec5e42e7.f7af1","disp":false,"width":"6"},{"id":"68e386bf.340928","type":"ui_group","z":"","name":"IM020[3]","tab":"ec5e42e7.f7af1","disp":false,"width":"6"},{"id":"f6d8be29.5f3f6","type":"ui_group","z":"","name":"IM020[4]","tab":"ec5e42e7.f7af1","disp":false,"width":"6"},{"id":"319c4603.89903a","type":"ui_group","z":"","name":"IM020[5]","tab":"ec5e42e7.f7af1","disp":false,"width":"6"},{"id":"2a8b5609.3dbf3a","type":"ui_group","z":"","name":"IM020[6]","tab":"ec5e42e7.f7af1","disp":false,"width":"6"},{"id":"ec5e42e7.f7af1","type":"ui_tab","z":"","name":"Injection Mold 20","icon":"dashboard","order":1}]